html{
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%
}

.calculator{
    width: 310px;
}

.display{
    background-color: gray;
    height: 80px;
    text-align: right;
    font-size: 70px;
    margin-bottom: 15px;
    padding-right: 10px;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button{
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    font-size: 30px;
}

button.equals{
    width: 150px; /* twice the size of other buttons */
    border-radius: 10px;
}