html{
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%
}

.calculator{
    width: 310px;
}

.output{
    background-color: lightyellow;
    height: 80px;
    text-align: right;
    overflow: hidden;
    font-size: 70px;
    margin-bottom: 15px;
    padding-right: 10px;
    border-radius: 10px;
    border: 2px solid rgb(91, 83, 83)
}

.num{
    float: right;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button{
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    font-size: 30px;
    background-color: lightyellow;
}

.large-btn{
    width: 150px; /* twice the size of other buttons */
    border-radius: 10px;
    background-color: green;
    color: white;
}

.clear {
    background-color: maroon;
    color: white;
}

.operator {
    background-color: darkorange;
}